/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
// $base-font-family: 'Mulish', sans-serif;

a.site-title {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
  }
// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
